<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>input_path</key>
    <string>/Applications/AutoPkgr.app</string>
    <key>identifier_prefix</key>
    <string>com.github.homebysix</string>
    <key>recipe_types</key>
    <array>
        <string>download</string>
        <string>munki</string>
        <string>pkg</string>
        <string>jss</string>
    </array>
    <key>output_dir</key>
    <string>~/Desktop/recipe-robot-output</string>
    <key>include_existing</key>
    <false/>
    <key>verbose</key>
    <false/>
</dict>
</plist>
